In [1]:
import pandas as pd
import numpy as np

In [2]:
from tabula import read_pdf

In [14]:
schools_df = read_pdf("ESAG-2018.pdf", pages=63,pandas_options = {'header': 2})

In [15]:
schools_df

,No.,Unnamed: 1,2013-14,2014-15,2015-16,2013-14.1,2014-15.1,2015-16.1
0,1.0,Andaman & Nicobar Islands,273,223,218,76,82,84
1,2.0,Andhra Pradesh,66222,40703,38793,16992,10100,10086
2,3.0,Arunachal Pradesh,2363,2341,2363,1144,1200,1266
3,4.0,Assam,47947,48478,48529,13065,13269,13451
4,5.0,Bihar,42525,43223,43405,32069,32573,33204
5,6.0,Chandigarh,11,11,12,26,29,29
6,7.0,Chhattisgarh,35325,35149,32826,15008,15019,14672
7,8.0,Dadra & Nagar Haveli,181,176,177,122,128,129
8,9.0,Daman & Diu,55,60,59,29,43,44
9,10.0,Delhi,2678,2776,2755,710,921,939
10,11.0,Goa,1023,988,973,76,78,86
11,12.0,Gujarat,11698,11689,11840,28918,29464,29642
12,13.0,Haryana,10249,9849,9994,4358,4420,4658
13,14.0,Himachal Pradesh,11292,11340,11327,3042,2982,2930
14,15.0,Jammu and Kashmir,14626,14640,14604,10093,10209,10286
15,16.0,Jharkhand,27747,27845,28010,15192,15469,15917
16,17.0,Karnataka,26792,26909,26790,30715,30540,30563
17,18.0,Kerala,8572,8462,8428,4117,4062,4020
18,19.0,Lakshadweep,18,18,17,15,14,14
19,20.0,Madhya Pradesh,90401,89119,88593,46950,47047,47276
20,21.0,Maharashtra,52991,53243,53151,28225,28755,29448
21,22.0,Manipur,2812,2971,2951,938,919,933
22,23.0,Meghalaya,9260,9323,9362,3384,3540,3597
23,24.0,Mizoram,1499,1553,1561,1422,1514,1511
24,25.0,Nagaland,1806,1428,1265,902,862,825
25,26.0,Odisha,36399,36550,36760,21945,22497,22795
26,27.0,Puducherry,284,285,278,98,96,87
27,28.0,Punjab,14751,14641,14371,5659,5601,5446
28,29.0,Rajasthan,54774,41544,42577,38807,37563,37656
29,30.0,Sikkim,732,715,706,337,335,346
30,31.0,Tamil Nadu,35177,35307,35379,9750,9588,9733
31,32.0,Telangana,0,25289,21948,0,7263,7189
32,33.0,Tripura,2564,2569,2568,1273,1265,1262
33,34.0,Uttar Pradesh,153220,154982,155756,73281,74226,75644
34,35.0,Uttarakhand,15680,15690,15497,4707,4900,5017
35,36.0,West Bengal,76969,77029,76703,8079,8521,8839
36,NaN,All India,858916,847118,840546,421524,425094,429624

In [16]:
schools_df.rename(columns={'Unnamed: 1':'State'})

,No.,State,2013-14,2014-15,2015-16,2013-14.1,2014-15.1,2015-16.1
0,1.0,Andaman & Nicobar Islands,273,223,218,76,82,84
1,2.0,Andhra Pradesh,66222,40703,38793,16992,10100,10086
2,3.0,Arunachal Pradesh,2363,2341,2363,1144,1200,1266
3,4.0,Assam,47947,48478,48529,13065,13269,13451
4,5.0,Bihar,42525,43223,43405,32069,32573,33204
5,6.0,Chandigarh,11,11,12,26,29,29
6,7.0,Chhattisgarh,35325,35149,32826,15008,15019,14672
7,8.0,Dadra & Nagar Haveli,181,176,177,122,128,129
8,9.0,Daman & Diu,55,60,59,29,43,44
9,10.0,Delhi,2678,2776,2755,710,921,939
10,11.0,Goa,1023,988,973,76,78,86
11,12.0,Gujarat,11698,11689,11840,28918,29464,29642
12,13.0,Haryana,10249,9849,9994,4358,4420,4658
13,14.0,Himachal Pradesh,11292,11340,11327,3042,2982,2930
14,15.0,Jammu and Kashmir,14626,14640,14604,10093,10209,10286
15,16.0,Jharkhand,27747,27845,28010,15192,15469,15917
16,17.0,Karnataka,26792,26909,26790,30715,30540,30563
17,18.0,Kerala,8572,8462,8428,4117,4062,4020
18,19.0,Lakshadweep,18,18,17,15,14,14
19,20.0,Madhya Pradesh,90401,89119,88593,46950,47047,47276
20,21.0,Maharashtra,52991,53243,53151,28225,28755,29448
21,22.0,Manipur,2812,2971,2951,938,919,933
22,23.0,Meghalaya,9260,9323,9362,3384,3540,3597
23,24.0,Mizoram,1499,1553,1561,1422,1514,1511
24,25.0,Nagaland,1806,1428,1265,902,862,825
25,26.0,Odisha,36399,36550,36760,21945,22497,22795
26,27.0,Puducherry,284,285,278,98,96,87
27,28.0,Punjab,14751,14641,14371,5659,5601,5446
28,29.0,Rajasthan,54774,41544,42577,38807,37563,37656
29,30.0,Sikkim,732,715,706,337,335,346
30,31.0,Tamil Nadu,35177,35307,35379,9750,9588,9733
31,32.0,Telangana,0,25289,21948,0,7263,7189
32,33.0,Tripura,2564,2569,2568,1273,1265,1262
33,34.0,Uttar Pradesh,153220,154982,155756,73281,74226,75644
34,35.0,Uttarakhand,15680,15690,15497,4707,4900,5017
35,36.0,West Bengal,76969,77029,76703,8079,8521,8839
36,NaN,All India,858916,847118,840546,421524,425094,429624

In [18]:
schools_df = schools_df.rename(columns={'Unnamed: 1':'State'})

In [19]:
schools_df

,No.,State,2013-14,2014-15,2015-16,2013-14.1,2014-15.1,2015-16.1
0,1.0,Andaman & Nicobar Islands,273,223,218,76,82,84
1,2.0,Andhra Pradesh,66222,40703,38793,16992,10100,10086
2,3.0,Arunachal Pradesh,2363,2341,2363,1144,1200,1266
3,4.0,Assam,47947,48478,48529,13065,13269,13451
4,5.0,Bihar,42525,43223,43405,32069,32573,33204
5,6.0,Chandigarh,11,11,12,26,29,29
6,7.0,Chhattisgarh,35325,35149,32826,15008,15019,14672
7,8.0,Dadra & Nagar Haveli,181,176,177,122,128,129
8,9.0,Daman & Diu,55,60,59,29,43,44
9,10.0,Delhi,2678,2776,2755,710,921,939
10,11.0,Goa,1023,988,973,76,78,86
11,12.0,Gujarat,11698,11689,11840,28918,29464,29642
12,13.0,Haryana,10249,9849,9994,4358,4420,4658
13,14.0,Himachal Pradesh,11292,11340,11327,3042,2982,2930
14,15.0,Jammu and Kashmir,14626,14640,14604,10093,10209,10286
15,16.0,Jharkhand,27747,27845,28010,15192,15469,15917
16,17.0,Karnataka,26792,26909,26790,30715,30540,30563
17,18.0,Kerala,8572,8462,8428,4117,4062,4020
18,19.0,Lakshadweep,18,18,17,15,14,14
19,20.0,Madhya Pradesh,90401,89119,88593,46950,47047,47276
20,21.0,Maharashtra,52991,53243,53151,28225,28755,29448
21,22.0,Manipur,2812,2971,2951,938,919,933
22,23.0,Meghalaya,9260,9323,9362,3384,3540,3597
23,24.0,Mizoram,1499,1553,1561,1422,1514,1511
24,25.0,Nagaland,1806,1428,1265,902,862,825
25,26.0,Odisha,36399,36550,36760,21945,22497,22795
26,27.0,Puducherry,284,285,278,98,96,87
27,28.0,Punjab,14751,14641,14371,5659,5601,5446
28,29.0,Rajasthan,54774,41544,42577,38807,37563,37656
29,30.0,Sikkim,732,715,706,337,335,346
30,31.0,Tamil Nadu,35177,35307,35379,9750,9588,9733
31,32.0,Telangana,0,25289,21948,0,7263,7189
32,33.0,Tripura,2564,2569,2568,1273,1265,1262
33,34.0,Uttar Pradesh,153220,154982,155756,73281,74226,75644
34,35.0,Uttarakhand,15680,15690,15497,4707,4900,5017
35,36.0,West Bengal,76969,77029,76703,8079,8521,8839
36,NaN,All India,858916,847118,840546,421524,425094,429624

In [20]:
schools_df.drop(columns='No.', axis = 1)

,State,2013-14,2014-15,2015-16,2013-14.1,2014-15.1,2015-16.1
0,Andaman & Nicobar Islands,273,223,218,76,82,84
1,Andhra Pradesh,66222,40703,38793,16992,10100,10086
2,Arunachal Pradesh,2363,2341,2363,1144,1200,1266
3,Assam,47947,48478,48529,13065,13269,13451
4,Bihar,42525,43223,43405,32069,32573,33204
5,Chandigarh,11,11,12,26,29,29
6,Chhattisgarh,35325,35149,32826,15008,15019,14672
7,Dadra & Nagar Haveli,181,176,177,122,128,129
8,Daman & Diu,55,60,59,29,43,44
9,Delhi,2678,2776,2755,710,921,939
10,Goa,1023,988,973,76,78,86
11,Gujarat,11698,11689,11840,28918,29464,29642
12,Haryana,10249,9849,9994,4358,4420,4658
13,Himachal Pradesh,11292,11340,11327,3042,2982,2930
14,Jammu and Kashmir,14626,14640,14604,10093,10209,10286
15,Jharkhand,27747,27845,28010,15192,15469,15917
16,Karnataka,26792,26909,26790,30715,30540,30563
17,Kerala,8572,8462,8428,4117,4062,4020
18,Lakshadweep,18,18,17,15,14,14
19,Madhya Pradesh,90401,89119,88593,46950,47047,47276
20,Maharashtra,52991,53243,53151,28225,28755,29448
21,Manipur,2812,2971,2951,938,919,933
22,Meghalaya,9260,9323,9362,3384,3540,3597
23,Mizoram,1499,1553,1561,1422,1514,1511
24,Nagaland,1806,1428,1265,902,862,825
25,Odisha,36399,36550,36760,21945,22497,22795
26,Puducherry,284,285,278,98,96,87
27,Punjab,14751,14641,14371,5659,5601,5446
28,Rajasthan,54774,41544,42577,38807,37563,37656
29,Sikkim,732,715,706,337,335,346
30,Tamil Nadu,35177,35307,35379,9750,9588,9733
31,Telangana,0,25289,21948,0,7263,7189
32,Tripura,2564,2569,2568,1273,1265,1262
33,Uttar Pradesh,153220,154982,155756,73281,74226,75644
34,Uttarakhand,15680,15690,15497,4707,4900,5017
35,West Bengal,76969,77029,76703,8079,8521,8839
36,All India,858916,847118,840546,421524,425094,429624

In [21]:
schools_df = schools_df.drop(columns='No.', axis = 1)

In [23]:
schools_df = schools_df.drop(columns=['2013-14','2014-15','2013-14.1','2014-15.1','2015-16.1'], axis=1)

In [24]:
schools_df

                        State  2015-16
0   Andaman & Nicobar Islands      218
1              Andhra Pradesh    38793
2           Arunachal Pradesh     2363
3                       Assam    48529
4                       Bihar    43405
5                  Chandigarh       12
6                Chhattisgarh    32826
7        Dadra & Nagar Haveli      177
8                 Daman & Diu       59
9                       Delhi     2755
10                        Goa      973
11                    Gujarat    11840
12                    Haryana     9994
13           Himachal Pradesh    11327
14          Jammu and Kashmir    14604
15                  Jharkhand    28010
16                  Karnataka    26790
17                     Kerala     8428
18                Lakshadweep       17
19             Madhya Pradesh    88593
20                Maharashtra    53151
21                    Manipur     2951
22                  Meghalaya     9362
23                    Mizoram     1561
24                   Nagaland     1265
25                     Odisha    36760
26                 Puducherry      278
27                     Punjab    14371
28                  Rajasthan    42577
29                     Sikkim      706
30                 Tamil Nadu    35379
31                  Telangana    21948
32                    Tripura     2568
33              Uttar Pradesh   155756
34                Uttarakhand    15497
35                West Bengal    76703
36                  All India   840546